* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    width: 100%;
    align-items: center;

    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header {
    position: fixed;
    z-index: 999;

    width: 100%;
}


.header-top {
    height: 72px;
    background: #10BBD5;
    padding: 16px 0 16px 0;
}

.header-title {
    position: relative;
    top: 3px;
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    margin-left: 30px;

}

.header-title-logo {
    width: 26px;
    height: 28px;
    background-image: url("../logos/header-title-logo.svg");

}

.header-balance {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 10px;
}

.header-cart-logo {
    position: relative;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-image: url("../logos/header-cart-logo.svg");
    vertical-align: middle;

    border: none;
    background-color: transparent;
    cursor: pointer;

}

.header-cart-number {
    position: absolute;
    top: 12px;
    right: 12px;

    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

.header-bot {
    padding-top: 4px;
    background-color: #fff;
}

.header-top, .header-bot {
    display: flex;
}

.header-menu li {
    display: inline-block;
}

.header-navigation-menu a {
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header-text {
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header-menu li {
    padding-right: 40px;
}

.header-menu li:last-child {
    padding: 0;
}

.main {
    padding-top: 100px;
}

.top-title {
    color: #1F1F1F;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;

    margin-top: 36px;
}

.top-title:after {
    content: "";
    display: block;
    width: 1296px;
    height: 1px;
    background: #A8A8A8;
    margin: 23px auto 24px auto;
}

/*Стили для карточки*/

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    width: 306px;
    min-height: 480px;
    transition: 0.2s;

    padding: 32px;

    border: 1px solid #8E8E8E;
}

.card:hover {
    box-shadow: 4px 8px 16px rgba(255,102,51,0.2);
}

.card-top {
    flex: 0 0 280px;
    position: relative;
}

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.card-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    transition: 0.2s;
}

.card-img:hover img {
    transform: scale(1.1);
}

.card-label-container {
    display: flex;
    position: absolute;
    z-index: 5;
    gap: 4px;
}

.card-label-hit {
    padding: 4px 8px;
    border-radius: 4px;
    background: #4200FF;

    color: #fff;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-label-new {
    padding: 4px 8px;
    border-radius: 4px;
    background: #AF39E7;

    color: #fff;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-label-discount {
    padding: 4px 8px;
    border-radius: 4px;
    background: #EA33C0;

    color: #fff;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-bottom {
    flex: 1 0 auto;
}

.card-prices {
    display: flex;
    margin-bottom: 16px;
}

.card-price--discount {
    margin-right: 24px;

    color: #E90000;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.card-price--common {
    color: #8E8E8E;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-decoration: line-through;
}

.card-titles {
    display: flex;
    flex-direction: column;
}

.card-title {
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    margin-top: 16px;
}

.card-subtitle {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    border-top: 1px solid #8E8E8E;
    margin-bottom: 8px;
}

.card-btn {
    display: block;
    width: 100%;

    color: #F8FDFE;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
}

.card-btn-common {
    background: #4C394E;
}

.card-btn-common:hover {
    background: #744978;
}

.card-btn--end {
    background: #4D762D;
}

.card-btn--end:hover {
    background: #6DB236;
}

.container-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 306px);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    row-gap: 32px;
    column-gap: 18px;

}

.cards {
    margin-bottom: 120px;
}

.footer-both-side {
    background-color: #4C394E;
    padding: 32px 52px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-text-mod:before {
    content: "\00A9";
    margin-right: 3px;
}


.chat-button {
    border: none;
    background-color: transparent;

    padding: 0;

    position: fixed;
    right: 1%;
    top: 70%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.chat-button:hover {
    transform: translateY(-50%) rotate(15deg);
}





